include ../partials/header.pug
main.main-block
    section.top-section
        include ../inc/index/top-section.pug
    section.about-section 
    section.projects-section 
    section.services-section
    section.result-section 
    section.team-section 
    section.form-section 
    section.feedback-section
include ../partials/footer.pug		