<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Audio player
	body
		div(class="container")
			div(class="player-container")
				div(class="player-container-inner")
					div(class="main-panel-container")
						div(class="main-panel-container-inner")
							div(class="play-btn-container")
								button(class="audio-play") Play
							div(class="prev-btn-container")
								button(class="audio-prev") &#9664;
							div(class="next-btn-container")
								button(class="audio-next") &#9654;
							//- div(class="image-container")
							//- 	img(src="#" alt="track-img")
							div(class="track-container")
								div(class="top-container")
									div(class="left")
										div(class="name")
											p Track Name
										div(class="author")
											p Author Name
									div(class="right")
										div(class="time")
											p {{12:45}}
								div(class="bottom-container")
									div(class="line")
							div(class="volume-container")
								div(class="volume")

					div(class="tracks-container")
						div(class="tracks-container-inner")
						
script(src="http://localhost:35729/livereload.js")