<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
    title Document
body
    header(class="header")
        .header-inner 
            .header-inner-left
                img(src='images/header.png')     
            .header-inner-middle
                .menu
                    ul.menu-inner 
                        li.menu-item
                            a.menu-item-link(href="#") Проекты
                        li.menu-item
                            a.menu-item-link(href="#") Чем занимаемся
                        li.menu-item
                            a.menu-item-link(href="#") Отзывы
            .header-inner-right 
                .phone
                    a(href='tel:+78000000000') 8(800)000-00-00