main.main-block {

    .top-section {
        height: 100vh;

        &-inner {
            position: relative;
            height: 100%;
            background-color: #fff;
            background-image: url("../images/top-section-bg.png");
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 100;

            .bg-layer {
                position: absolute;
                top:0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #000;
                opacity: 0.2;
            }

            .top-block {
                z-index: 101;
                height: 200px;
                margin: 0 150px 0 150px;

                .left {
                    .description {
                        .company-name {
                            font-family: $main_font_family;
                            color: $white;
                            font-size: 64px;
                            line-height: 50px;
                            font-weight: 800;
                        }

                        .company-desc {
                            font-family: $main_font_family;
                            color: $white;
                            font-size: 36px;
                        }  
                    }
                }
            }
        }
    }
}