.top-section-inner
    .image
    .bg-layer
    .top-block 
        .left
            .description
                h1.company-name ПРИЗМА
                p.company-desc Сройгрупп, которая воплащает ваши мечты в реальность
            .get-service-btn
                button.get-service ЗАКАЗАТЬ ПРОЕКТ
        .right 
            .slider-num 
                .nums 
                    .left-num 
                    .delimeter /
                    .right-num 
            .slider-dots
                .dot-container
    .bottom-block 
        .bottom-block-inner 
            .slider-text
                